<div class="container2">
    <h1 id="titrepanel">BLACKLIST (Prochainement)</h1>
    <div class="quote-container">
        <a href="#" class="quote-button3">CONFIGURER</a>
        <div class="elements-panel3">
          <img src="../../public/img/paint.svg" class="coming-soon-img">
    </div>
  </div>
</section>