<div class="container">
    <h1 id="titrepanel">
      <span><i class="fas fa-paste"></i></span>
      <span class="premelem">LOGS</span>
      </h1>
    <div class="quote-container">
        <a href="#" class="quote-button">CONFIGURER</a>
        <div class="elements-panel">
          <p>SALON</p>
          <select name="logs_channel" class="selectsalon">
            <% if(logs.channel) {
              
              if(logsChannelStatut) { %>
              <option value="<%= logs.channel %>">#<%= logsChannelStatut %></option>   
              <option value="0000">Aucun</option>   
              <% } else { %>
                <option value="0000">Sélectionner un salon</option>   
                <% } %>
                
              <% } else { %>
              <option value="0000">Sélectionner un salon</option>   

              <% } %>

            <% 
            channelsText.forEach(function(channel) {
                if(channel.id === logs.channel) return;
               %>
              <option value="<%= channel.id %>">#<%= channel.name %></option>   
              <% 
            }) %>            
            </select>
        </div>
    </div>
  </div>
</section>