<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">  
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/responsive.css">
    <link rel="stylesheet" href="/public/css/404.css">
    <link rel="stylesheet" href="/public/css/panel-staff.css">
    <link rel="stylesheet" href="/public/css/card-staff.css">
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/settings.css" />

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="https://lester-bot.fr/public/img/lester-logo-halloween.png">
    <meta name="twitter:title" content="Lester | Le bot Discord numéro 1 pour vos serveurs RôlePlay !" />
    <meta property="twitter:description" content="Lester est le bot le plus puissant et le plus optimisé jamais conçu pour les serveurs RôlePlay francophones." />
    <link rel="icon" href="../../public/img/lester-logo-halloween.png" class="img-brand">
    
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title><%= title %></title>

</head>
<body>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="../../public/img/Lesterlogo.png" height="90">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <div class="navbar-menu" id="navMenu">
        <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', () => {
              // Get all "navbar-burger" elements
              const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
              // Check if there are any navbar burgers
              if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                  el.addEventListener('click', () => {
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                  });
                });
              }
              });
      </script>
      </div>

      
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" id="nav1" href="/">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="text-pos-icon">Accueil</span>
        </a>
  
        <a class="navbar-item" id="nav1" href="/premium">
          <span class="icon"><i class="fas fa-gem"></i></span>
          <span class="text-pos-icon">Premium</span>
        </a>


        <a class="navbar-item" id="nav1" href="/statut">
          <span class="icon"><i class="fas fa-wifi"></i></span>
          <span class="text-pos-icon">Statut</span>
        </a>

          
        <a class="navbar-item" id="nav1" href="https://docs.lester-bot.tk/liste-des-commandes">
          <span class="icon"><i class="fas fa-list-ul"></i></span>
          <span class="text-pos-icon">Liste des commandes</span>
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link navbar-text-align" id="nav1">
            En savoir plus
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://discord.com/oauth2/authorize?client_id=604672517130420245&scope=bot&permissions=8">
              <span class="icon"><i class="fas fa-robot"></i></span>
              <span class="text-pos-icon">Ajouter le bot</span>
            </a>
            <a class="navbar-item" href="/notre-equipe">
              <div style="position:relative">
              <span class="icon"><i class="fas fa-users"></i></span>
              <span>Notre équipe</span>
              </div>
            </a>
            <a class="navbar-item" href="https://discord.gg/ME3y3Bx">
              <div style="position:relative">
              <span class="icon"><i class="fab fa-discord"></i></span>
              <span>Support</span>
              </div>
            </a>
            
              <a class="navbar-item" href="/tos">
              <div style="position:relative">
              <span class="icon"><i class="far fa-newspaper"></i></span>
              <span>Mentions légales</span>
              </div>
            </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <span class="icon"><i class="fas fa-code-branch"></i></span>
              <span class="text-pos-icon">Pré v3.4.1</span>
            </div>
          </div>
        </div>
      </div>
      <% if (user) { %>
        <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable">
          
          <a class="navbar-link has-text-white navbar-text-align">
          <span><img src="<%= `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png` %>"  class="img-header img-top" width="30" height="30"></span>
          <span class="pos-mobile"><%= user.username %></span>
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/dashboard">
              <span class="icon"><i class="fas fa-server"></i></span>
              <span class="text-pos-icon">Mes serveurs</span>
            </a>
            <a class="navbar-item" href="/mes-cles">
              <span class="icon"><i class="fas fa-ticket-alt"></i></span>
              <span class="text-pos-icon">Mes clés</span>
            </a>
            <% if (staff) { %>
            <a class="navbar-item" href="/panel-staff">
              <span class="icon"><i class="fas fa-user-cog"></i></span>
              <span class="text-pos-icon">Panel staff</span>
            </a>
            <% } %>

            <hr class="navbar-divider">
            <a class="navbar-item" href="/logout">
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
              <span class="text-pos-icon">Se déconnecter</span>
            </a>
          </div>
        </div>
        </div> 
        </div>
      <% } else { %>
        <div class="navbar-end">
            <div class="buttons">
              <a href="/login" class="button-pos button">
                <strong>Se connecter</strong>
              </a>
            </div>
        </div>
      <% } %>
    </div>
  </nav>