<%- include("../partials/header", { bot, user, path, staff, admin, support, billing, title: "Panel Staff - Serveur" }) %>
<% if (alertSuccess) { %>
    <div class="alert-success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <%= alertSuccess %>
      </div>
<% } %>

<% if (alertErr) { %>
    <div class="alert-error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <%= alertErr %>
      </div>
<% } %>

<form method="POST">

    <div class="has-text-centered">
        Saisissez l'id du serveur Premium
    </div>

    <div class="line1-panel-staff">
        <input name="server_transfert" class="input-server" type="text" placeholder="Saisissez l'ID d'un serveur">
        <button type="submit" class="confirm-server">Entrer</button>
    </div>
</form>




<%- include("../partials/footer") %>