
  .logo404 {
    font-size: 1400%;
    text-align: center;
    margin-top:60px
  }
.para404{margin-top:15px;text-align:center}
.button404 {
    text-align: center;
    display: block;
    margin: auto;
    top: 30px;
    width: 150px;
}

