

@media screen and (max-width: 750px) {
    #scene{
        display: none;
    }
    .container1{position: absolute;z-index: 1;height: 100%;}
        .hero-body{padding: 0;margin: 0;}
        .title{display: none;}
    .content{margin-top: 70%; width: 320px;}
    .acced{width: 320px;}

    .hero-body{padding: 0;margin: 0;}
    .parallaxphone{
            display: flex;
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            justify-content: center;
            align-items: center;
        }
    .parallaxphone img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .divslogan{width: 350px;height: auto;margin-top: 70%;}
    .divslogan7{width:300px;height: auto;}
    .button{margin-top: 5px;}
    
    .navbar-menu{background: #424242;}
    .navbar-text-align{text-align: center}
    .navbar-dropdown{ background: #424242}
    .pos-mobile{ left: 10px }
    .navbar-item{color: white;padding: 5px;}
        .navbar-item img{position: relative;left: 50%;transform: translate(-50%);}
    .navbar-link{color: white;}
        .navbar-dropelem{padding: 3px;}
    /*settings*/
    .cartes{
        display: block;height: 550px;width: 100%;position: relative;
        }
    .carte{padding: 30px;margin: 10px;position: static;width: 95%;}
    .ligne2, .ligne3, .ligne5{
        display: block;width: 100%;
    }
        .container, .container2{width: 95%;margin: 10px;padding: 10px;}
        .elements-panel3 input{margin: 10px;}
        .elements-panel4 img{width: 70%;}

    .savecontainer{height: 70px;position: absolute;top: 85%;width: 100%;}
        .buttonsave{
        position: relative;
        font-size: large;margin: 0;left: 90%;transform: translate(-50%);width: 50px;
        }
        .savetext{display: none;}
        svg{font-size: 50px;}


  /*STAFF*/
    .box .content{
        width: 100%;
        margin-top: 0;
    }
    .box .content h2{
        padding: 5px;
    }


.notificationMedia {width: 350px; height: 500px;}
.button-pos {
    margin-top: auto;
    margin-right: auto;
  
  }

  .userBoard td {
    padding: 10px 1px 5px 0px;
    color: #bdbdbd
    }

    
  .inlineButtons {
    text-align: center;
    margin-bottom: 30px
  }

  .align1 {
    display: inline-block;
    margin-right: auto;
  }
  .align2 {
    display: inline-block;
  }
  .align3 {
    display: inline-block;
    margin-left: auto;
  }
  .pc-screen {
    display: none;
  }
  .block-index {
    height: 1000px;
    width: auto;
    background-color: #292727;
    display: block;
  }
  .phone-screen {
    display: block;
  }

  
  .card-server-support {
    display: block;
    height: 200px;
    width: 350px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #272726;
    border: 1px solid black;
    border-top: 5px solid #35b8e0;
  }

  .card-server {
    margin-top: 20px;
    display: inline-block;
    height: 200px;
    width: 350px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #272726;
    border: 1px solid black;
    border-top: 5px solid orange;
  }
  
.popup-status {
  height: 90px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  text-align: center;
  background-color: #363535;
}

.box-status-online .tooltiptext {
  visibility: hidden;
  width: 500px;
  height: 140px;
  background-color: #363535;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 200%;
  left: 20%;
  margin-top: 60px;
  margin-left: -150px;
}

.card-server-panelstaff {
  height: 400px;
  display: block;
  width: 300px;
  background-color: #363535;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
  
}
.information-panel-staff-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 230px;
  width: 340px;
  background-color: #272726;
  border-radius: 5px;
}
.img-herobanner2 {
  height: 140px;
  width: auto;
  border-radius:0.4em;
  box-shadow: 0 0 20px 	#060c21;
  margin-left: auto;
  margin-right:auto;
  display: block;
}
.img-herobanner1 {
  height: 160px;
  width: auto;
  border-radius:0.4em;
  box-shadow: 0 0 20px 	#060c21;
  margin-left: auto;
  margin-right:auto;
  display: block;
}
.hero-text {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.hero-texth2 {
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 20px;
}
.hr-hero {
  height: 2px;
  width: 230px;
  background-color: white ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.top-users {
  display: inline-block;
  margin-left:130px;
  margin-right:130px;
  margin-bottom:70px;
}

.alertS{
  background: #36ec64;
  padding: 10px 35px;
  min-width: 20px;
  position: absolute;
  right: 0;
  top: 70px;
  border-radius: 4px;
  border-left: 8px solid #238017;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alertS .msg{
  padding: 0 20px;
  font-size: 14px;
  color: #238017;
}
.no_keys {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 90px;
  width: 320px;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  background: #fac1bf;
  border-radius: .25rem;
  border: 1px solid #6b2f2d;
  color: #6b2f2d;
}

.title_no_keys {
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}
.column {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.is-10 {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.menu-list {
    margin-left: 10px;
    margin-right: 10px;
}
.parameter {
    padding: 1em;
    background-color:#272727;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
}
.alert-saving{
  margin-left: auto;
  margin-right: auto;
    
}
.columns{width: 300px;
margin-right: auto;
margin-left: auto;}
}
