* {
  padding: 0;
  margin: 0;
}

.scene{width: 100%;height: 40%;z-index: 0;}
.parallaxphone{display: none;}
.img{width: 110%;}

.container1{width: 100%;height: 700px;z-index: 1;position: relative;}
.hero-body{display: flex;position: absolute;left: 50%;top: 5%;transform: translate(-50%);}
.divslogan{
  width: 100%;height: 30%;display
  : flex;  color: white
  ;background: #363636;
  display: block;width: 495px;height:40px;padding: 0px;
  border-radius: 15px;font-size: 20px;
  font-weight: 500;padding: 5px;
margin-left: 50%;transform: translate(-50%);}
.divslogan2{
  width: 100%;height: 30%;display
  : flex;  color: white
  ;background: #363636;
  display: block;width: 495px;height:40px;padding: 0px;
  border-radius: 15px;font-size: 20px;
  font-weight: 500;padding: 5px;
margin-left: 50%;transform: translate(-50%); margin-top: 200px}

  
.title {
  color: white;
  font-weight: 500;
  display: block;border-radius: 10px;padding: 10px;
  width: 500px;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%);
}
.acced{color: white;text-align: center;
  background: #363636;display: block;
  width: 495px;padding: 10px;margin-top: 20px; margin-right: auto; margin-left: auto;
  border-radius: 15px;font-size: 20px;font-weight: 500;transition: all 0.3s ease;}
.acced:hover{background-color: #222;color: white;}
#welcuser{display: block;font-size: 25px;
  margin-top: 3%;color: white;background: #363636;padding: 10px;border-radius: 15px;}

html, body {
  height: 100%;
  overflow: auto;
  background:#424949;
  color: white;
}

strong, h1, h2, h3, h4, h5, h6, p {
  color: white
}
.img-top {
  right: 10px
}
/*header*/
.navbar-item{font-weight: bold;transition: all 0.5s;padding: 0 40px;color: white;}
.navbar-divider{background: #424242;}
.navbar-dropdown{background: #363636;}
.navbar-dropelem{font-weight: bold;transition: all 0.5s;padding: 0 40px;color: white;display: block;}
.navbar-dropelem:hover{background: white;color: black;}
.navbar-link{font-weight: bold;transition: all 0.5s;}
.navbar-item:hover{background: #424949;}
.navbar-link:hover{background: #424949;}

.index-text {
  color: white
}
/*logo footer*/
footer {
  background: #222;
  color: white;
  font-weight: bold;
  padding-bottom: 13px;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  display: block;
  z-index: 1;
}

footer p {
  padding-top: 12px;
}


.img-brand {
  border-radius: 50%
}

.img-header {
  position: relative;
  display: block;
  border-radius: 50%;
}

.guild-icon {
  position: relative;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  top: -15px;
}
.guild-iconserverlist {
  position: relative;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 70px;
  top: -25px;

}
.button-server-list {
  height: 40px;
  width: 150px;
  font-size: 15px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #48b856;
  color: white;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
}
.button-server-list:hover {
  height: 40px;
  width: 150px;
  font-size: 15px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #31923d;
  color: white;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.guildNameDash {
  position: relative;
  top: -15px;

}
  .card-server-support {
    display: block;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    background-color: #3b4452;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: #272726;
    border-top: 5px solid #35b8e0;
  }
  .card-server {
    margin-top: 20px;
    display: inline-block;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #272726;
    border: 1px solid black;
    border-top: 5px solid orange;
  }


.title {
  color: white;
  font-weight: 500;
  text-align: center;
  display: block;
}

hr {
  background-color: #363636;
  color: #424242;
  border: none;
}

.antifooter{padding-bottom: 70px;}
.button {
  text-align: center;
  display: block;
  margin: auto;
  width: 150px;
  top: 0px;
  background:	#7289da;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.button-pos {
  margin-top: -2px;
  margin-right: 30px;

}
.button:hover{
  color: 	#7289da;
  background: white;
  box-shadow: 0 0 20px 	#7289da;
}



/*settings*/
/*2 div a coté*/
.cartes{text-align: center;height: 300px;display: flex;justify-content: center;}
.carte{
  background: #222;
  height: 200px;width: 250px;
  ;margin-top: 30px;padding: 35px;margin-right: 0px;
  width: 500px;height: 250px;
  border-radius: 15px;margin:15px;}
.guild-icon-settings{height: 50px;border-radius: 10px;}

/*premium panel*/

  .premlogoactive{position:relative; top: 7px;height: 30px;width: 30px;background-image: url(../img/premium.png);background-size: cover;}
  .premlogoactive2{position:relative; top: 7px;height: 30px;width: 30px;background-image: url(../img/nonprem.png);background-size: cover;}
  .premlogoactive3{position:relative;height: 37px;width: 37px;background-image: url(../img/premium.png);background-size: cover;}
  .premlogoactive4{position:relative;height: 37px;width: 37px;background-image: url(../img/nonprem.png);background-size: cover;}
  .premlogoactive5{position:relative;top:-7px;right:7px;height: 37px;width: 37px;background-image: url(../img/nonprem.png);background-size: cover;}

  .premlogoactive3::before,
  .premlogoactive3::after,.premlogoactive4::before,.premlogoactive4::after{
    --scale:0;
    --arrow-size:10px;
    --tooltip-color:#363636;
    position: absolute;
    top: -.25rem;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
  }
  .premlogoactive3::before,.premlogoactive4::before{
    --translate-y:calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    width: max-content;
    padding: .5rem;
    border-radius: 5px;
    background: var(--tooltip-color);
  }
  .premlogoactive3:hover::before,.premlogoactive3:hover::after,.premlogoactive4:hover::before,.premlogoactive4:hover::after{
    --scale:1;
  }
  .premlogoactive3::after,.premlogoactive4::after{
    --translate-y:calc(-1 * var(--arrow-size));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
  }
  .prem_only{
    color: #e45a5a
  }
  .off{
    color:black;background: #f33d3d;
    font-weight:500;width: 84px;
    margin-left: auto;margin-right: auto;margin-top: 10px;margin-bottom: 10px;padding:5px;
    border-radius: 20px;}
      .on{
    color:black;background: #6bc544;
    font-weight:500;width: 70px;
    margin-left: auto;margin-right: auto;margin-top: 10px;margin-bottom: 10px;padding:5px;
    border-radius: 20px;}
    .guildname{font-weight: 500;font-size: large;margin-right: 37px;margin-top: 5px;}
    .inputcle{
  background-color: #424949;border: none;color:white;
  margin-top:10px;text-align: center;
  height: 30px;width: 170px;border-radius: 5px;transition: all 0.5s;}
.inputcle:focus{width: 180px;}
.pre-on{font-size: large;}
.confirmcle{
  height: 30px;width: 50px;
  border: none;border-radius: 5px;background: #424949;color: #ffffff;font-weight: 500;
  transition: all 0.5s;}
.confirmcle:hover{background-color: #2196F3;cursor: pointer;}

/*Infos*/
.guildname2{margin-top: 0px;font-weight: 500;font-size: large;margin-bottom: 5px;}

.buttonsave{
  position: absolute;
  bottom: 10%;
  margin-top: 5%;
  margin-left: 80%;
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid white;
  background-color: rgb(79, 230, 79);
  color: white;
  box-sizing: border-box;
  outline: none;
  transition: all ease 0.5s;
  font-weight: 700;
  z-index: 2;
}

.active{
  font-size: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: rotate 1s ease 0.5s infinite;

}
@keyframes rotate{
  0%{
      transform: rotate(360deg);
  }
}
.success{
  position: relative;
  background-color: white;
  animation: bounce .3s ease-in;
}
@keyframes bounce{
  0%{
      transform: scale(0.9);
  }
}
.success:before{
  content: '';
  position: absolute;
  background: url(../test/saveanim/check-solid.svg) no-repeat;
  left: 0;
  right:0;
  margin: 0 auto;
  width: 31px;
  height: 31px;
  line-height: 31px;
  top: 8px;

}

.invisible{width: 100%;height: 500px;display: block;}
.invisible2{width: 100%;height: 35px;display: block;}
.invisible3{height: 300px;display: block;}
.invisible4{height: 1px;display: block;}

/*Config*/

.ligne2{text-align: center;display: flex;justify-content: center;}
.ligne3{text-align: center;display: flex;justify-content: center;margin-top: 2%;}
.ligne4{text-align: center;display: flex;justify-content: center;margin-top: 2%;}
.ligne5{text-align: center;display: flex;justify-content: center;margin-top: 2%;}
.container2{
  background: #222;margin:0;padding:0px;margin-top: 0%;text-align: center;display: block;
  border-radius: 15px;margin-left: 1%;margin-right: 1%;
  width: 100%;}
.container{
  background: #222;margin:0;padding:0px;margin-top: 0%;
  width: 500px;text-align: center;display: block;border-radius: 15px;margin-left: 1%;margin-right: 1%;}
.container p, .container2 p{padding: 10px;}
#titrepanel{padding: 15px;font-weight: 600;font-size: large;}

.containlogo{display: flex;justify-content: center;margin-top: 10px;}
.premlogo{height: 44px;padding: 9px;padding-right: 0;}
.premelem{font-size: 16px;padding-left:0;margin-right: 35px;}
.quote-button ,.quote-button2 ,.quote-button3, .quote-button4, .quote-button5{display: block;background-color: #424949;
  border: none;border-radius: 5px;color: white;font-weight: 500;
  padding: 10px;margin:15px;
  transition: 0.5s all ease;}
.quote-button:hover ,.quote-button2:hover ,.quote-button3:hover, .quote-button4:hover, .quote-button5:hover{background:#363636;color: white;}
.quote-container .elements-panel , .elements-panel2, .elements-panel3 , .elements-panel4 , .elements-panel5{
  display: none;
  padding: 20px;
  margin-top: 0;
  background-color: #222;
  border-radius: 10px;
}
.text-pos-icon {
  text-align: center;
}
.coming-soon-img {
  margin-top: 30px;
}
.elements-panel p{
  margin: 10px;font-weight: 600;
}
.inputpre{padding: 10px;width: 150px;border: none;border-radius: 10px;background: #424242;color: white;transition: all 0.5s;}
.inputtext{padding: 10px;width: 200px;border: none;border-radius: 10px;background: #424242;color: white;transition: all 0.5s;}
.inputfile{padding: 10px;width: 260px;border: none;border-radius: 10px;background: #424242;color: white;transition: all 0.5s;}
.inputtextmed{padding: 10px;width: 200px;height:100px;border: none;border-radius: 10px;background: #424242;color: white;transition: all 0.5s;}
.inputpre:focus{width: 170px;}
.selectsalon{padding: 10px;width: 170px;border: none;border-radius: 10px;background: #424242;color: white;}
.coming{width:40%;}
.phone-screen{
  display:none
}


/*SLIDER*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* The alert message box */
.alert {
  padding: 20px;
  background-color: #4CAF50; 
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #424949;}

#customers tr:hover {background-color: #424949;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}


  .box {
    
      width: 100%;height: 30%; margin-top: 50px;
      display: flex;  color: white
      ;background: #363636;
      display: block;width: 495px;height:40px;padding: 0px;
      border-radius: 15px;font-size: 20px;
      font-weight: 500;padding: 5px;
    margin-left: 50%;transform: translate(-50%);
  }


  .box-columns {
    align-items: start;
    justify-content: space-between;

  }
  .notification {
    background-color: #363636;
    color: white;
  }

  .notificationMedia {
    background-color: #363636;
    color: white;
    margin-left:auto;
    margin-right:auto;

  }
  .box1 {top: 100px;}


.align-img1 {
  width: 150px;
  height: 150px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;

}

.align-img2 {
  width: 150px;
  height: 150px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  margin-top: -40px;

}

.blueh2 {
  color: #ACB0FF;
  font-size: 120%;
}

.text-design-index {
  text-align: center;
}
.pindex {
  margin-top: 7px;
}
.divslogan7{
  width: 100%;height: 30%;display
  : flex;  color: white
  ;background: #363636;
  margin-top: 30px;
  display: block;width: 495px;height:40px;padding: 0px;
  border-radius: 15px;font-size: 20px;
  font-weight: 500;padding: 5px;
margin-left: 50%;transform: translate(-50%);}


.articleDev {
  margin-top: 100px;
}



/*STAFF*/
.boxes{margin: 0;padding:0; background: #222;
  display: flex;justify-content: center;
  flex-wrap: wrap;
  min-height: 100%;box-sizing: border-box;font-family: 'Poppins', sans-serif;
}
.box{
position:relative;
width: 300px;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
margin: 60px;
margin-top: 10%;
transition: 0.8s;
z-index:0;
}
.box:hover{
height: 400px;
}
.box .imgbx{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 10px;
box-sizing: border-box;
background: #060c21;
}
.imgclass {
  width: 100%;
  height: 100%
}
.box .imgbx img{

max-width: 100%;
opacity: 0.3;
transition: 0.2s;
}
.box:hover .imgbx img{
opacity: 1;
}
.box:before{
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
background: #fff;
z-index: -1;
}
.box:after{
content: '';
position: absolute;
top: -2px;
left: 2px;
right: -2px;
bottom: -2px;
background: #fff;
z-index: -2;
filter: blur(40px);
}
.box:before,
.box:after{
background: linear-gradient(90deg, rgba(46,255,255,1) 0%, rgba(78,154,116,1) 50%, rgba(119,255,129,1) 100%);
}
.box:nth-child(2):before,
.box:nth-child(2):after{
background: linear-gradient(90deg, rgba(136,255,109,1) 0%, rgba(37,99,105,1) 50%, rgba(108,114,255,1) 100%);
}
.box:nth-child(3):before,
.box:nth-child(3):after{
background: linear-gradient(90deg, rgba(241,135,255,1) 0%, rgba(113,75,149,1) 50%, rgba(105,216,255,1) 100%);
}
.box .content{
position: absolute;
bottom: 0;
left: 0;
right: 0;
bottom: 0;
height: 100px;
background: rgba(0,0,0,0.4);
display: flex;
align-items: center;
opacity: 0;
transition: 0.2s;
text-align: center;
justify-content: center;
}
.box:hover .content{
opacity: 1;
}
.box .content h2{
font-size: 20px;
color: #fff;
font-weight: 700;
line-height: 20px;
letter-spacing: 1px;
}
.box .content h2 span{
font-size: 15px;
color: #fff;
font-weight: 300;
letter-spacing: 1px;
}

.colorPing{
  color: #a4ddc3
}

.textInstance{
  font-size: 130%
}
.colorNot {color:#e9e9e9;margin-left:20%;margin-right:20%; text-align:center}
.statusTitle{font-size: 150%}
.statusTextPos{margin-top:15px}
.hrColorStatus{background-color:#424949}


.tos-text{
  margin-right: 40px;
  margin-left: 40px;
}

.title-tos {
  margin-top: 80px;
  font-size: 300%
}

.subtitle-tos {
  margin-top: 30px;
  font-size: 170%
}

.p-tos {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 120%;
  color: #a09f9f
  

}

.colorback1 {
  background-color: #363535
}
.inline{
  display: inline-block;
}

.userBoard {
  border-radius: 50%;
  font: 100% sans-serif;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #1b1b1d;
  border-radius: 10px;
  }


.color1lb {
  background-color: #424242;

}

.color2lb {
 background-color: #3d3a3d;
}
.color3lb {
  background-color: #312e31;
 }


.userBoard td {
  padding: 10px 150px 10px 50px;
  color: #bdbdbd
  }

  .code-lb {
    color: #b0b0ec;
    background-color: #28282c;
    border-radius: 20%
  }

  .tag-color {
    color: #777474
  }

  .imgLeaderboard {
    border-radius: 50%;
  }

  .tag-count {
    background-color: #3b3a3a;
    border-radius: 50%
  }

  #lb {
    margin-left: auto;
    margin-right: auto;
  }

  .title-lb {
    font-size: 150%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #b3b3b3;
  }
  .strong-title-lb {
    color: #e7e7e7;
  }

  .inlineButtons {
    text-align: center;
    margin-bottom: 30px
  }

  .align1 {
    display: inline-block;
    margin-right: 200px;
  }
  .align2 {
    display: inline-block;
  }
  .align3 {
    display: inline-block;
    margin-left: 200px;
  }
  .bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .modal-content {
    width: 500px;
    height: 300px;
    background-color: #4b4946;
    border-radius: 4px;
    padding: 20px;
    position: relative
  }

  .close-modal {
    position: absolute;
    color: black;
    font-size: 40px;
    right: 20px;transform: rotate(45deg);
    top: 0;
    cursor: pointer;
    
  }

  .content-modal-p {
    color: #a0a0a0;
    margin-top:50px;
    display: block;
    text-align: center;
  }
  .img-modal {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .server-list {
    text-align:center;
  }
  .box-status-online {
    height: 60px;
    width: 60px;
    background-color: #25CD55;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;   
    transition: all 0.3s ease; 
    border: 2px solid;
    border-color: #3EEA6F
  }
    .box-status-online .tooltiptext {
      visibility: hidden;
      width: 500px;
      height: 140px;
      background-color: #363535;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      top: 200%;
      left: 50%;
      margin-top: 60px;
      margin-left: -250px;
    }
    .box-status-online:hover {   
    box-shadow: 0 0 20px 	#7289da;
  }
  .box-status-online:hover .tooltiptext {
    visibility: visible;
  }
  .box-status-offline {
    height: 60px;
    width: 60px;
    background-color: #D92B2B;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;   
    transition: all 0.3s ease; 
    border: 2px solid;
    border-color: #F55353
  }
    .box-status-offline:hover {   
    box-shadow: 0 0 20px 	#F07878;
  }
  .box-status-offline .tooltiptext {
    visibility: hidden;
    width: 500px;
    height: 140px;
    background-color: #363535;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 200%;
    left: 50%;
    margin-top: 60px;
    margin-left: -250px;
  }

.box-status-offline:hover .tooltiptext {
  visibility: visible;
}
  .status-hr {
    background-color: #292828
  }
  .box-status-id {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: 20px;
    display: block;
    font-size: 25px;
  }
  .popup-status {
    height: 40px;
    width: 700px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #363535;
  }

  .webhook-topgg {
    margin-top: 150px;
  }
  .webhook-dboats {
    margin-top: 1000px;
  }

  .hallo-screen-pc {
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .img-thumbnail {
  padding: .25rem;
  background-color: #3b4452;
  border: 1px solid #434e5e;
  max-width: 100%;
  height: auto;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:rgba(0, 0, 0, 0.7);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7289da;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #697FCC
  
}
.card-server-panelstaff {
  height: 400px;
  display: block;
  width: 800px;
  background-color: #363535;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
  
}
.information-panel-staff-left {
  display: inline-block;
  height: 230px;
  width: 400px;
  margin-top:40px;
  background-color: #272726;
  border-radius: 5px;
}
.card-userFinding {
  display: block;
  height: 300px;
  width: 230px;
  background-color: #363535;
  border-radius: 3px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.discord-blue {
  color: #7289da;
}

.second-plan {
    background-color: #363636;
    margin-top:10px;
    color: white;
  padding-bottom: 300px;
};
.title-slide1 {
  font-size: 40px;  
  text-align:center;
  display: none;
}
.p-slide1 {
  font-size: 20px;  
  text-align:center;
}
.imgslide1 {
  height: 90px;
  width: 90px;
}
.container-slide {
  margin-left: 30px;
  width: 400px;
}

#banner {
  background-color: #363636;
  color: #ffffff;
  padding: 5em 0 8em 0;
  text-align: center;
}
#banner-two {
  background-color: #404040;
  color: #ffffff;
  padding: 5em 0 8em 0;
  
}
#banner-two-keys {
  background-color: #404040;
  color: #ffffff;
  padding: 8em 0 8em 0;
}
.title-hero {
  margin-bottom: 30px;
  font-size: 30px;
}
.h1-hero {
  font-size: 60px;
}
.special {
  display:inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.button-hero {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
.postext {
  margin-top: auto;
  margin-left: auto;
}

.button-hero:hover{
  color: 	#7289da;
  background: white;
  box-shadow: 0 0 20px 	#7289da;
}

.img-hero {
  height: 100px;
  width: auto;
}

.banner-div-left {
  margin-top: 0px;
  margin-bottom: 40px;
}
.banner-div-right {
  margin-top: 80px;
  margin-bottom: 40px;
}
.img-herobanner1 {
  margin-left: auto;
  margin-right:auto;
  display: block;
  height: 300px;
  width: auto;
  border-radius:0.4em;
  box-shadow: 0 0 20px 	#060c21;
}
.hero-text {
  font-size: 30px;
  text-align: center;
}
.hero-texth2 {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}
.img-herobanner2 {
  height: 200px;
  width: auto;
  border-radius:0.4em;
  box-shadow: 0 0 20px 	#060c21;
  margin-left: auto;
  margin-right:auto;
  display: block;
}
.top-users {
  display: inline-block;
  margin-left:130px;
  margin-right:130px;
}
.icon-footer {
  font-size: 50px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hr-hero {
  height: 2px;
  width: 300px;
  background-color: white ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.counter-title {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
.counter-p {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.hr-hero-banner {
  height: 2px;
  width: 30px;
  background-color: #7289da ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.alertS{
  background: #36ec64;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 70px;
  border-radius: 4px;
  border-left: 8px solid #238017;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alertS.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alertS.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alertS.hide{
  animation: hide_slide 1s ease forwards;
}
.alertS.hide2{
  display:none

}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alertS .fa-check-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #238017;
  font-size: 30px;
}
.alertS .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #238017;
}
.close-btn2{
  top: 50%;
  transform: translateY(-50%);
  background: #2eb144;
  padding: 20px 18px;
  cursor: pointer;
}
.close-btn2:hover{
  background: #36ec64;
}
.close-btn2 .fas{
  color: #238017;
  font-size: 22px;
  line-height: 40px;
}
.no_keys {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 90px;
  width: 500px;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  background: #fac1bf;
  border-radius: .25rem;
  border: 1px solid #6b2f2d;
  color: #6b2f2d;
}

.title_no_keys {
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

.color_red_no_keys {
  color: #6b2f2d;
}
.title_keys {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center
}
.subtitle_keys {
  margin-top: 1px;
  font-size: 40px;
  text-align: center;
  color: #7289da
}
.img-user-key{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 3px solid #434e5e;
  background-color: #3b4452;
}
.my_key{
  width: 300px;
  padding: .75rem 1.25rem;
  margin-left:10px;
  margin-right:10px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
  border: 3px solid #434e5e;
  background-color: #3b4452;
  border-top: 4px solid #35b8e0;
}
.my_key_code{
  text-align: center;
  display: block;
  border-radius: 5px;
  color: #88bdfa;
  border: 3px solid #373e49;
  background-color: #454e5e;
}
.my_key_p {
  margin-top:7px;
  font-size: 13px;
  color: grey;

}
.my_key_pStrong {
  color: grey;

}
.hr_premium {
  width: 200px;
  height: 5px;
  background-color: orange;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.premium_price{
  font-size: 70px;
  text-align: center;
}
.old-price{
  font-size: 20px;
  text-align: center;
  text-decoration: line-through red 
}
.promo-announce{
  padding: .75rem 1.25rem;
  background-color: #ffc4c4;
  color: rgb(83, 73, 73);
  border: 3px solid rgb(236, 139, 139);
  border-radius: 7px;

  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-bottom: 60px;
  text-align: center;
}

.paypal_one {
  margin-top: 10px;
  text-align:center;
  font-size: 40px
}
.premium_indic {
  text-align:center;
  font-size: 20px
}
.buy_premium{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: .75rem 1.25rem;
  width: 200px;
  margin-top: 50px;
  font-size: 20px;
  border-radius: 1px;
  border: 3px solid rgb(136, 136, 255);
  transition: all 0.5s ease;
  background-color: #404040;
}

.buy_premium:hover{
  background-color: rgb(136, 136, 255);
}
#banner_purchase_success {
  background-color: #363636;
  color: #ffffff;
  padding: 10em 0 10em 0;
  height: 800px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}
.poshub {
  margin-top: 90px;
}
.hr_premium2{
  width: 200px;
  height: 5px;
  background-color: rgb(80, 215, 248);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.features-premium{
  font-size: 20px;
  margin-top: 25px;
}
.feature{
  margin-bottom: 15px;
}

