<%- include("../partials/header", { bot, user, path, title: "Une erreur est survenue" }) %>
<section id="banner_purchase_success">
    <h1 class="title_keys"><i class="far fa-times-circle"></i> <strong>Une erreur est survenue !</strong></h1>
    <h2 class="subtitle_success_purchase">Une erreur est survenue, et l'achat n'a pas pu être effectué. Si cela persiste, contacter notre support <a href="https://discord.gg/ME3y3Bx">en cliquant ici</a>.</strong></h2>

    <div class="poshub">
    <a href="/" class="button-hero special">              
        <span class="text-pos-icon postext">Retourner à l'accueil</span></a>
    </div>
    </section>

<%- include("../partials/footer") %>