<%- include("../partials/header", { bot, user, path, title: "Achat effectué avec succès" }) %>
<section id="banner_purchase_success">
    <h1 class="title_keys"><i class="fas fa-check"></i> <strong>Achat effectué avec succès !</strong></h1>
    <h2 class="subtitle_success_purchase"><strong>Merci pour votre achat !<br>Votre clé Premium se trouve sur la page <a href="/mes-cles">Mes Clés</a>. Si vous ne la voyez pas, contacter notre support rapidement <a href="https://discord.gg/ME3y3Bx">en cliquant ici</a>.</strong></h2>

    <div class="poshub">
    <a href="/" class="button-hero special">              
        <span class="text-pos-icon postext">Retourner à l'accueil</span></a>
    </div>
    </section>

<%- include("../partials/footer") %>