<%- include("partials/header", { bot, user, path, title: "Page introuvable" }) %>



    <div>
        <h1 class="logo404">404</h1>
        <p class="para404">Cette page est introuvable.</p>
        <div class="buttons">
            <a class="button is-danger button404" href="/">Accueil</a>
          </div>
    </div>




<%- include("partials/footer") %>