<%- include("partials/header", { bot, user, path, title: "settings" }) %>



    <div>
        <p>Admin panel</p>
        <p>Tapez l'id du serveur ci-dessous ?</p>
        <input class="inputcle" type="text" placeholder="Entrer l'id d'un serveur">

    </div>




<%- include("partials/footer") %>