<%- include("partials/header", { bot, user, path, title: "Mes clés" }) %>
<section id="banner">
    <h1 class="title_keys"><strong>Bienvenue sur votre espace de Gestion</strong></h1>
</section>

<section id="banner-two-keys">
<% if(!myKey) { %>
    <div class="no_keys">
        <div class="title_no_keys">
            <i class="fas fa-ticket-alt"></i> <strong class="color_red_no_keys">Vous n'avez pas de clé Premium.</strong>
        </div>
    </div>
    <% } else { %>
        <div class="server-list">

        <% myKey.forEach(function(key) { %>
                <div class="my_key">
                    <code class="my_key_code"><%= key.key %></code>
                    <p class="my_key_p">Acheté il y a <strong class="my_key_pStrong"><%= key.date %></strong></p>
                </div>
    <% }) %>
        </div>

    <% } %>

</section>

<%- include("partials/footer") %>