<%- include("partials/header", { bot, user, path, title: "Premium" }) %>


<section id="banner">
    <h1 class="title_keys"><strong>Version Premium</strong></h1>
    <div class="hr_premium"></div>
    <h2></h2>
</section>

<section id="banner-two">
    <div class="promo-announce"><i class="fas fa-bullhorn"></i> Profiter de notre promotion de noël jusqu'au 25 décembre inclus ! </div>
    <h1 class="old-price">4.99€</h1>
    <h1 class="premium_price">3.50€</h1>
    <h2 class="premium_indic">Achat à vie</h2>
    <div class="has-text-centered">
        <button onclick="window.location.href='/redirection-paypal'" class="buy_premium" href="/redirection-paypal"><p><i class="fab fa-paypal"></i> Acheter</p></button>
    </div>
</section>

<section id="banner">
    <h1 class="title_keys"><strong>Fonctionnalités</strong></h1>
    <div class="hr_premium2"></div>

    <div class="features-premium">
        <p class="feature"><i class="fas fa-check"></i> Système économique RôlePlay</p>
        <p class="feature"><i class="fas fa-check"></i> Commandes pour Blanchissement</p>
        <p class="feature"><i class="fas fa-check"></i> Sauvegarde des données à 100%</p>
        <p class="feature"><i class="fas fa-check"></i> Personnalisation des messages Twitter et Darknet</p>

        <p class="feature-other">Et bien plus..</p>
    </div>
</section>


<%- include("partials/footer") %>