<%- include("partials/header", { bot, user, path, title: "Mentions légales" }) %>

    <h1 class="tos-text title-tos">Site internet</h1>
        <h2 class="tos-text subtitle-tos">1. Hébergement</h2>
            <p class="tos-text p-tos">Le site Lester, accessible à l'adresse <a href="https://lester-bot.tk">https://lester-bot.tk</a>, est hébergé par la société <a href="https://ovh.com">OVHCloud</a>. Les sites ayant un sous-domaine (Ex: docs.lester-bot.tk) ne sont pas hébergés par la même infrastructure.</p>

        <h2 class="tos-text subtitle-tos">2. Propriété intellectuelle et données personnelles</h2>
            <p class="tos-text p-tos">L'ensemble des données présentes sur le site lester-bot.tk - sauf mention contraire - sont la propriété exclusive de l'éditeur. <strong>Toute reproduction sans accord écrit préalable est interdite</strong>.</strong></p>
            <p class="tos-text p-tos">lester-bot.tk ne collecte et ne collectera aucune donnée sans votre accord préalable. Nous récupérons uniquement les données nous permettant de modifier le robot discord, données qui nous sont envoyées par votre biais.</p>

            
        <h2 class="tos-text subtitle-tos">3. Modification</h2>
            <p class="tos-text p-tos">Lester peut réviser ces conditions d'utilisation de son site Web à tout moment et sans préavis. En utilisant ce site Web, vous acceptez d'être lié par la version alors en vigueur de ces conditions d'utilisation.</p>


<div class="colorback1" id="premium">

    <h1 class="tos-text title-tos">Premium</h1>
        <h2 class="tos-text subtitle-tos">1. Achat</h2>
            <p class="tos-text p-tos">La version premium du bot Lester peut être distribuée sous différentes formes, et a des prix fixés par le distributeur.</p>
            <p class="tos-text p-tos">L'achat du mode premium se fait pour le moment manuellement auprès d'un membre de l'équipe de gestion du support, via notre <a href="https://discord.com/invite/ME3y3Bx">serveur de support</a>.</p>

        <h2 class="tos-text subtitle-tos">2. Distribution et remboursement</h2>
            <p class="tos-text p-tos">Un remboursement peut être réclamé si il est fait dans les 24 heures après l'achat auprès de notre équipe via notre <a href="https://discord.com/invite/ME3y3Bx">serveur de support</a>.</p>
            <p class="tos-text p-tos">La version premium est distribuée sous forme de clé qui est a saisir via la partie "Tableau de bord" du site. Lorsque celle-ci est activée, il est impossible de la retirer. L'équipe de Lester offre un service de transfert de serveur non-automatisé. Le transfert de serveur peut se faire sur plusieurs heures. Pour en savoir plus, contactez notre équipe via notre <a href="https://discord.com/invite/ME3y3Bx">serveur de support</a>.</p>

<div class="invisible2"></div>
</div>
<section id="partenariat">
    <h1 class="tos-text title-tos">Partenariat</h1>
        <h2 class="tos-text subtitle-tos">1. Affiliation</h2>
            <p class="tos-text p-tos">Lester n'est affilié en aucun cas avec nos partenaires (sauf si précisé). Les actions menées par ceux-ci ne concernent pas Lester. </p>

        <h2 class="tos-text subtitle-tos">2. Devenir notre partenaire</h2>
            <p class="tos-text p-tos">Nous répondons à toutes demandes de partenariat via notre <a href="https://discord.com/invite/ME3y3Bx">serveur de support</a>.</p>
            <div class="invisible2"></div>

</section>

    <%- include("partials/footer") %>